[Unit]
Description=Solar Smart Clock
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/solar-clock
Environment=OPENWEATHER_API_KEY=c3f51839ee21e18cad613f50eeb2f719
ExecStart=/usr/bin/python3 /home/pi/solar-clock/clock.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
